## ------ more on pandas----

# Summary Functions and Maps

This section cover different operations we can apply to our data to get the 
input "just right"

In [26]:
import pandas as pd
pokemon = pd.read_csv('pokemon.csv')

# # .describe()

In [5]:
#this function restructure the data in some useful way
pokemon.describe()

,id,generation_id,height,weight,base_experience,hp,attack,defense,speed,special-attack,special-defense
count,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000
mean,404.000000,3.714994,1.162454,61.771128,144.848823,68.748451,76.086741,71.726146,65.830235,69.486989,70.013631
std,233.105126,1.944148,1.081030,111.519355,74.953116,26.032808,29.544598,29.730228,27.736838,29.439715,27.292344
min,1.000000,1.000000,0.100000,0.100000,36.000000,1.000000,5.000000,5.000000,5.000000,10.000000,20.000000
25%,202.500000,2.000000,0.600000,9.000000,66.000000,50.000000,55.000000,50.000000,45.000000,45.000000,50.000000
50%,404.000000,4.000000,1.000000,27.000000,151.000000,65.000000,75.000000,67.000000,65.000000,65.000000,65.000000
75%,605.500000,5.000000,1.500000,63.000000,179.500000,80.000000,95.000000,89.000000,85.000000,90.000000,85.000000
max,807.000000,7.000000,14.500000,999.900000,608.000000,255.000000,181.000000,230.000000,160.000000,173.000000,230.000000

In [9]:
# when done to a numerical data..we get this below
pokemon.height.describe()

count    807.000000
mean       1.162454
std        1.081030
min        0.100000
25%        0.600000
50%        1.000000
75%        1.500000
max       14.500000
Name: height, dtype: float64

In [8]:
# when done to numerical data..we get this
pokemon.species.describe()

count          807
unique         807
top       unfezant
freq             1
Name: species, dtype: object

In [10]:
pokemon.type_1.describe()
# here we can see that unique =18
# that means there are 18 types of type_1 pokemons

count       807
unique       18
top       water
freq        114
Name: type_1, dtype: object

In [11]:
pokemon.height.mean()

1.1624535315985129

In [13]:
# to see a list of unique value of that column

pokemon.type_1.unique()

array(['grass', 'fire', 'water', 'bug', 'normal', 'poison', 'electric',
       'ground', 'fairy', 'fighting', 'psychic', 'rock', 'ghost', 'ice',
       'dragon', 'dark', 'steel', 'flying'], dtype=object)

In [14]:
# to see a list of unique values and how often they occur in a dataset

pokemon.type_1.value_counts()

water       114
normal      105
grass        78
bug          72
psychic      53
fire         53
rock         46
electric     40
poison       34
ground       32
dark         29
fighting     29
ghost        27
dragon       27
steel        24
ice          23
fairy        18
flying        3
Name: type_1, dtype: int64

# Maps

#### both map() and apply() does not modify the original DataFrame

## map()

a map is a term, borrowed from mathematics , for a functin that takes one set of values and "maps" them to another set of valus. In data science we often have a need for creating new representations form existing data , or for transforming data form the format it is now tot the format that we want it to be later.

In [34]:
# map() is  a simpler wy for mapping
# suppose we want to remean the speed to 0
# currently mean of speed is
pokemon.speed.mean()

65.830235439900861

In [35]:
speed_mean = pokemon.speed.mean()
test_mean = pokemon.speed.map(lambda s:s-speed_mean)
test_mean

0     -20.830235
1      -5.830235
2      14.169765
3      -0.830235
4      14.169765
5      34.169765
6     -22.830235
7      -7.830235
8      12.169765
9     -20.830235
10    -35.830235
11      4.169765
12    -15.830235
13    -30.830235
14      9.169765
15     -9.830235
16      5.169765
17     35.169765
18      6.169765
19     31.169765
20      4.169765
21     34.169765
22    -10.830235
23     14.169765
24     24.169765
25     44.169765
26    -25.830235
27     -0.830235
28    -24.830235
29     -9.830235
         ...
777    30.169765
778    26.169765
779   -29.830235
780   -25.830235
781   -20.830235
782    -0.830235
783    19.169765
784    64.169765
785    29.169765
786     9.169765
787    19.169765
788   -28.830235
789   -28.830235
790    31.169765
791    31.169765
792    37.169765
793    13.169765
794    85.169765
795    17.169765
796    -4.830235
797    43.169765
798   -22.830235
799    13.169765
800    -0.830235
801    59.169765
802     7.169765
803    55.169765
804   -52.830235
805    41.169765
806    77.169765
Name: speed, Length: 807, dtype: float64

In [36]:
# here i didint change the parent dataframe

int(test_mean.mean())

0

The function you pass to map() should expect a single value from the Series ( a point value, in the above example) , and return a  transformed version of that value .
map() returns a new Series where all the values have been transformed by your function.

## apply()

apply is equivalent method id we want to transform a whole dataframe buy calling a custom method for each row.

In [38]:
speed_mean

65.830235439900861

In [163]:
def remean_speed(row):
    row.speed = row.speed - speed_mean
    return row
pokemon.apply(remean_speed, axis = 'columns')
# here but this does not edit the parent dataframe//

,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,-20.830235,65,65
1,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,-5.830235,80,80
2,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,14.169765,100,100
3,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,-0.830235,60,50
4,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,14.169765,80,65
5,6,charizard,1,1.7,90.5,240,fire,flying,78,84,78,34.169765,109,85
6,7,squirtle,1,0.5,9.0,63,water,NaN,44,48,65,-22.830235,50,64
7,8,wartortle,1,1.0,22.5,142,water,NaN,59,63,80,-7.830235,65,80
8,9,blastoise,1,1.6,85.5,239,water,NaN,79,83,100,12.169765,85,105
9,10,caterpie,1,0.3,2.9,39,bug,NaN,45,30,35,-20.830235,20,20
10,11,metapod,1,0.7,9.9,72,bug,NaN,50,20,55,-35.830235,25,25
11,12,butterfree,1,1.1,32.0,178,bug,flying,60,45,50,4.169765,90,80
12,13,weedle,1,0.3,3.2,39,bug,poison,40,35,30,-15.830235,20,20
13,14,kakuna,1,0.6,10.0,72,bug,poison,45,25,50,-30.830235,25,25
14,15,beedrill,1,1.0,29.5,178,bug,poison,65,90,40,9.169765,45,80
15,16,pidgey,1,0.3,1.8,50,normal,flying,40,45,40,-9.830235,35,35
16,17,pidgeotto,1,1.1,30.0,122,normal,flying,63,60,55,5.169765,50,50
17,18,pidgeot,1,1.5,39.5,216,normal,flying,83,80,75,35.169765,70,70
18,19,rattata,1,0.3,3.5,51,normal,NaN,30,56,35,6.169765,25,35
19,20,raticate,1,0.7,18.5,145,normal,NaN,55,81,60,31.169765,50,70
20,21,spearow,1,0.3,2.0,52,normal,flying,40,60,30,4.169765,31,31
21,22,fearow,1,1.2,38.0,155,normal,flying,65,90,65,34.169765,61,61
22,23,ekans,1,2.0,6.9,58,poison,NaN,35,60,44,-10.830235,40,54
23,24,arbok,1,3.5,65.0,157,poison,NaN,60,95,69,14.169765,65,79
24,25,pikachu,1,0.4,6.0,112,electric,NaN,35,55,40,24.169765,50,50
25,26,raichu,1,0.8,30.0,218,electric,NaN,60,90,55,44.169765,90,80
26,27,sandshrew,1,0.6,12.0,60,ground,NaN,50,75,85,-25.830235,20,30
27,28,sandslash,1,1.0,29.5,158,ground,NaN,75,100,110,-0.830235,45,55
28,29,nidoran-f,1,0.4,7.0,55,poison,NaN,55,47,52,-24.830235,40,40
29,30,nidorina,1,0.8,20.0,128,poison,NaN,70,62,67,-9.830235,55,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,778,mimikyu,7,0.2,0.7,167,ghost,fairy,55,90,80,30.169765,50,105
778,779,bruxish,7,0.9,19.0,166,water,psychic,68,105,70,26.169765,70,70
779,780,drampa,7,3.0,185.0,170,normal,dragon,78,60,85,-29.830235,135,91
780,781,dhelmise,7,3.9,210.0,181,ghost,grass,70,131,100,-25.830235,86,90
781,782,jangmo-o,7,0.6,29.7,60,dragon,NaN,45,55,65,-20.830235,45,45
782,783,hakamo-o,7,1.2,47.0,147,dragon,fighting,55,75,90,-0.830235,65,70
783,784,kommo-o,7,1.6,78.2,270,dragon,fighting,75,110,125,19.169765,100,105
784,785,tapu-koko,7,1.8,20.5,257,electric,fairy,70,115,85,64.169765,95,75
785,786,tapu-lele,7,1.2,18.6,257,psychic,fairy,70,85,75,29.169765,130,115
786,787,tapu-bulu,7,1.9,45.5,257,grass,fairy,70,130,115,9.169765,85,95
787,788,tapu-fini,7,1.3,21.2,257,water,fairy,70,75,115,19.169765,95,130
788,789,cosmog,7,0.2,0.1,40,psychic,NaN,43,29,31,-28.830235,29,31
789,790,cosmoem,7,0.1,999.9,140,psychic,NaN,43,29,131,-28.830235,29,131
790,791,solgaleo,7,3.4,230.0,306,psychic,steel,137,137,107,31.169765,113,89
791,792,lunala,7,4.0,120.0,306,psychic,ghost,137,113,89,31.169765,137,107
792,793,nihilego,7,1.2,55.5,257,rock,poison,109,53,47,37.169765,127,131
793,794,buzzwole,7,2.4,333.6,257,bug,fighting,107,139,139,13.169765,53,53
794,795,pheromosa,7,1.8,25.0,257,bug,fighting,71,137,37,85.169765,137,37
795,796,xurkitree,7,3.8,100.0,257,electric,NaN,83,89,71,17.169765,173,71
796,797,celesteela,7,9.2,999.9,257,steel,flying,97,101,103,-4.830235,107,101
797,798,kartana,7,0.3,0.1,257,grass,steel,59,181,131,43.169765,59,31
798,799,guzzlord,7,5.5,888.0,257,dark,dragon,223,101,53,-22.830235,97,53
799,800,necrozma,7,2.4,230.0,270,psychic,NaN,97,107,101,13.169765,127,89
800,801,magearna,7,1.0,80.5,270,steel,fairy,80,95,115,-0.830235,130,115
801,802,marshadow,7,0.7,22.2,270,fighting,ghost,90,125,80,59.169765,90,90
802,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,7.169765,73,67
803,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,55.169765,127,73
804,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,-52.830235,53,101
805,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,41.169765,151,79
806,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,77.169765,102,80

In [46]:
pokemon.speed
# here we can see that .speed is same as before

0       45
1       60
2       80
3       65
4       80
5      100
6       43
7       58
8       78
9       45
10      30
11      70
12      50
13      35
14      75
15      56
16      71
17     101
18      72
19      97
20      70
21     100
22      55
23      80
24      90
25     110
26      40
27      65
28      41
29      56
      ...
777     96
778     92
779     36
780     40
781     45
782     65
783     85
784    130
785     95
786     75
787     85
788     37
789     37
790     97
791     97
792    103
793     79
794    151
795     83
796     61
797    109
798     43
799     79
800     65
801    125
802     73
803    121
804     13
805    107
806    143
Name: speed, Length: 807, dtype: int64

### pandas provide many mapping operations built-in

In [51]:
# here is a faster way of remeaning speed column
# this almost behaves as a magic function
speed_mean_f = pokemon.speed.mean()
pokemon.speed - speed_mean_f

0     -20.830235
1      -5.830235
2      14.169765
3      -0.830235
4      14.169765
5      34.169765
6     -22.830235
7      -7.830235
8      12.169765
9     -20.830235
10    -35.830235
11      4.169765
12    -15.830235
13    -30.830235
14      9.169765
15     -9.830235
16      5.169765
17     35.169765
18      6.169765
19     31.169765
20      4.169765
21     34.169765
22    -10.830235
23     14.169765
24     24.169765
25     44.169765
26    -25.830235
27     -0.830235
28    -24.830235
29     -9.830235
         ...
777    30.169765
778    26.169765
779   -29.830235
780   -25.830235
781   -20.830235
782    -0.830235
783    19.169765
784    64.169765
785    29.169765
786     9.169765
787    19.169765
788   -28.830235
789   -28.830235
790    31.169765
791    31.169765
792    37.169765
793    13.169765
794    85.169765
795    17.169765
796    -4.830235
797    43.169765
798   -22.830235
799    13.169765
800    -0.830235
801    59.169765
802     7.169765
803    55.169765
804   -52.830235
805    41.169765
806    77.169765
Name: speed, Length: 807, dtype: float64

In [53]:
# other magic operations

pokemon.species + " " + pokemon.type_1

0         bulbasaur grass
1           ivysaur grass
2          venusaur grass
3         charmander fire
4         charmeleon fire
5          charizard fire
6          squirtle water
7         wartortle water
8         blastoise water
9            caterpie bug
10            metapod bug
11         butterfree bug
12             weedle bug
13             kakuna bug
14           beedrill bug
15          pidgey normal
16       pidgeotto normal
17         pidgeot normal
18         rattata normal
19        raticate normal
20         spearow normal
21          fearow normal
22           ekans poison
23           arbok poison
24       pikachu electric
25        raichu electric
26       sandshrew ground
27       sandslash ground
28       nidoran-f poison
29        nidorina poison
              ...
777         mimikyu ghost
778         bruxish water
779         drampa normal
780        dhelmise ghost
781       jangmo-o dragon
782       hakamo-o dragon
783        kommo-o dragon
784    tapu-koko electric
785     tapu-lele psychic
786       tapu-bulu grass
787       tapu-fini water
788        cosmog psychic
789       cosmoem psychic
790      solgaleo psychic
791        lunala psychic
792         nihilego rock
793          buzzwole bug
794         pheromosa bug
795    xurkitree electric
796      celesteela steel
797         kartana grass
798         guzzlord dark
799      necrozma psychic
800        magearna steel
801    marshadow fighting
802        poipole poison
803      naganadel poison
804        stakataka rock
805      blacephalon fire
806      zeraora electric
Length: 807, dtype: object

In [ ]:
# however above operations are not as flexible as map() or apply()
# with which we can do more advanced things like logic..which cannot
# be done in addition and substraction alone

In [59]:

pokemon.speed.max()

160

In [113]:
# testing area

pokemon.dropna(axis=0)
maxim = (pokemon.speed/pokemon.height).max()
answer = pokemon.species.loc[pokemon.speed/pokemon.height == maxim]
answer

763    comfey
Name: species, dtype: object

In [138]:
index = pokemon.species[pokemon.speed/pokemon.height == maxim]

In [142]:
pokemon.head(5)

,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45,65,65
1,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60,80,80
2,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80,100,100
3,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65,60,50
4,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80,80,65

In [157]:
# code to give out a string output of the species ..for which
# the ratio pokemon speed to pokemon height is maximum

def idx_of_max(pokemon):
    maxm = 0
    for idx in range(len(pokemon)):
        if pokemon.speed[idx]/pokemon.height[idx]>maxm:
            value = idx
            maxm = pokemon.speed[idx]/pokemon.height[idx]
    return value
pokemon.species[idx_of_max(pokemon)]

'comfey'

In [160]:
# Now using only two line to get the same result as above

idx = (pokemon.speed / pokemon.height).idxmax()
pokemon.loc[idx, 'species']

# the first line using idxmax() returns the index value having the highest value after
# doing the mathematical operation

# second line is same as
pokemon.species[idx]

'comfey'

In [161]:
help()

Welcome to Python 3.6's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.6/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> idxmax
No Python documentation found for 'idxmax'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> idx
No Python documentation found for 'idx'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> sum
Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

help> pd.idxmax
No Python documentation found for 'pd.idxmax'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> pd
No Python documentation found for 'pd'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> pandas
Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can  be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets
      - Intuitive merging and joining data sets
      - Flexible reshaping and pivoting of data sets
      - Hierarchical labeling of axes (possible to have multiple labels per tick)
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, moving window linear regressions,
        date shifting and lagging, etc.

PACKAGE CONTENTS
    _libs (package)
    _version
    api (package)
    compat (package)
    computation (package)
    conftest
    core (package)
    errors (package)
    formats (package)
    io (package)
    json
    lib
    parser
    plotting (package)
    stats (package)
    testing
    tests (package)
    tools (package)
    tseries (package)
    tslib
    types (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    datetools = <module 'pandas.core.datetools' from '/home/pc/a...ython3....
    describe_option = <pandas.core.config.CallableDynamicDoc object>
    get_option = <pandas.core.config.CallableDynamicDoc object>
    json = <module 'pandas.json' from '/home/pc/anaconda3/e...nda1/lib/pyt...
    lib = <module 'pandas.lib' from '/home/pc/anaconda3/en...onda1/lib/pyt...
    options = <pandas.core.config.DictWrapper object>
    parser = <module 'pandas.parser' from '/home/pc/anaconda3...a1/lib/pyt...
    plot_params = {'xaxis.compat': False}
    reset_option = <pandas.core.config.CallableDynamicDoc object>
    set_option = <pandas.core.config.CallableDynamicDoc object>
    tslib = <module 'pandas.tslib' from '/home/pc/anaconda3/...da1/lib/pyt...

VERSION
    0.22.0

FILE
    /home/pc/anaconda3/envs/conda1/lib/python3.6/site-packages/pandas/__init__.py


help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [164]:
pokemon.head(5)

,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45,65,65
1,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60,80,80
2,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80,100,100
3,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65,60,50
4,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80,80,65

## Using apply() mapping

In [165]:
pokemon.describe()

,id,generation_id,height,weight,base_experience,hp,attack,defense,speed,special-attack,special-defense
count,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000
mean,404.000000,3.714994,1.162454,61.771128,144.848823,68.748451,76.086741,71.726146,65.830235,69.486989,70.013631
std,233.105126,1.944148,1.081030,111.519355,74.953116,26.032808,29.544598,29.730228,27.736838,29.439715,27.292344
min,1.000000,1.000000,0.100000,0.100000,36.000000,1.000000,5.000000,5.000000,5.000000,10.000000,20.000000
25%,202.500000,2.000000,0.600000,9.000000,66.000000,50.000000,55.000000,50.000000,45.000000,45.000000,50.000000
50%,404.000000,4.000000,1.000000,27.000000,151.000000,65.000000,75.000000,67.000000,65.000000,65.000000,65.000000
75%,605.500000,5.000000,1.500000,63.000000,179.500000,80.000000,95.000000,89.000000,85.000000,90.000000,85.000000
max,807.000000,7.000000,14.500000,999.900000,608.000000,255.000000,181.000000,230.000000,160.000000,173.000000,230.000000

In [166]:
# here attack ranges from 5  t0 181
# so i am going to prepare a star rating series
# to categories all pokemon into either of the three

# > 150 star rating 3
# <150 and >= 100 star rating 2
# all other star rating 1

In [201]:
def star(row):
    if row.attack >= 150:
        return 3
    if row.attack >= 100:
        return 2
    else:
        return 1
star_rating = pokemon.apply(star,axis = 1)
star_rating

# so here we can see that we created a new series having
# either of the 3 stars according to power of attack. 
# we can use this to find the star rating of any species

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     2
28     1
29     1
      ..
777    1
778    2
779    1
780    2
781    1
782    1
783    2
784    2
785    1
786    2
787    1
788    1
789    1
790    2
791    2
792    1
793    2
794    2
795    1
796    2
797    3
798    2
799    2
800    1
801    2
802    1
803    1
804    2
805    2
806    2
Length: 807, dtype: int64

In [227]:
# for egs
for idx in range(len(pokemon)):
    if 'bulbasaur' == pokemon.species[idx]:
        print(star_rating(idx))

TypeError: 'Series' object is not callable

In [219]:
pokemon.species[0]

'bulbasaur'