# How models work

In [5]:
# to read a csv file we use the help of pandas
import pandas as pd

In [7]:
# we use the below code to read csv

#home_data = pd.read_csv(filepath)

In [9]:
# selecting data for modeling

# to drop a row having missing data .. simply we type

# home_data = home_data.dropna(axis = 0)

# pandas

# Indexing selecting and assigning

## Naive accessors

In [9]:
pokemon = pd.read_csv('pokemon.csv')
pokemon.head()

,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45,65,65
1,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60,80,80
2,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80,100,100
3,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65,60,50
4,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80,80,65

In [11]:
pokemon.iloc[0]
# this returns the first row with all the columns

id                         1
species            bulbasaur
generation_id              1
height                   0.7
weight                   6.9
base_experience           64
type_1                 grass
type_2                poison
hp                        45
attack                    49
defense                   49
speed                     45
special-attack            65
special-defense           65
Name: 0, dtype: object

In [41]:
# to access a particular columns and all its rows
pokemon.species.head()

# head is used to show only the first 5 rows

0     bulbasaur
1       ivysaur
2      venusaur
3    charmander
4    charmeleon
Name: species, dtype: object

In [42]:
# or we can do the same above with this code.. the main difference is this can be
# used in all cases,, suppose if there is a space in column name. the former wont work . but this works
pokemon['species'].head()

0     bulbasaur
1       ivysaur
2      venusaur
3    charmander
4    charmeleon
Name: species, dtype: object

In [18]:
pokemon['species'][0]

# this gets you a single value.. we provide the column number first and row number second

'bulbasaur'

## Indexing

In [20]:
# pandas has its own accessor operators .. loc and iloc
# this can be used for more advanced operations

### index based selection

In [23]:
pokemon.iloc[0]

# this above code selects the first row of the dataframe

id                         1
species            bulbasaur
generation_id              1
height                   0.7
weight                   6.9
base_experience           64
type_1                 grass
type_2                poison
hp                        45
attack                    49
defense                   49
speed                     45
special-attack            65
special-defense           65
Name: 0, dtype: object

In [44]:
# both loc and iloc are row-first column second.. this is opposite to what we do
# native python .. which is column-first row-second

# this means its easier to retrieve rows ..but is marginally harder to retrieve columns

pokemon.iloc[:,1]

# this above code will get you a column species .. with all its 806 rows

0        bulbasaur
1          ivysaur
2         venusaur
3       charmander
4       charmeleon
5        charizard
6         squirtle
7        wartortle
8        blastoise
9         caterpie
10         metapod
11      butterfree
12          weedle
13          kakuna
14        beedrill
15          pidgey
16       pidgeotto
17         pidgeot
18         rattata
19        raticate
20         spearow
21          fearow
22           ekans
23           arbok
24         pikachu
25          raichu
26       sandshrew
27       sandslash
28       nidoran-f
29        nidorina
          ...
777        mimikyu
778        bruxish
779         drampa
780       dhelmise
781       jangmo-o
782       hakamo-o
783        kommo-o
784      tapu-koko
785      tapu-lele
786      tapu-bulu
787      tapu-fini
788         cosmog
789        cosmoem
790       solgaleo
791         lunala
792       nihilego
793       buzzwole
794      pheromosa
795      xurkitree
796     celesteela
797        kartana
798       guzzlord
799       necrozma
800       magearna
801      marshadow
802        poipole
803      naganadel
804      stakataka
805    blacephalon
806        zeraora
Name: species, Length: 807, dtype: object

In [30]:
pokemon.iloc[:3,1]
# now by changing the row argument here we can decide which row or set or rows we need to retrieve

0    bulbasaur
1      ivysaur
2     venusaur
Name: species, dtype: object

In [31]:
pokemon.iloc[[0,1,2,3],1]
# we can also provide a list showing the index of the rows to retrieve the rows in 
# particular column

0     bulbasaur
1       ivysaur
2      venusaur
3    charmander
Name: species, dtype: object

In [33]:
pokemon.iloc[[0,1,2,3],[1,2]]

# now we provided both rows and columns as lists

      species  generation_id
0   bulbasaur              1
1     ivysaur              1
2    venusaur              1
3  charmander              1

In [39]:
# we can also use negative indexing to retrieve from the last
pokemon.iloc[-5:]
# will retrieve you last 5 rows..with all its rows

,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
802,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73,73,67
803,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121,127,73
804,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13,53,101
805,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107,151,79
806,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143,102,80