In [2]:
# most popular python library in data analysis
import pandas as  pd
import numpy as np

In [19]:
fruits_dict = {'Apples' : [30], 'Bananas' : [21]}
fruits_dict

{'Apples': [30], 'Bananas': [21]}

In [21]:
fruits = pd.DataFrame(data=fruits_dict)
fruits

   Apples  Bananas
0      30       21

In [23]:
# creating above dataframe within a single line

fruits = pd.DataFrame([[30,21]], columns = ['Apples','Bananas'])
fruits

   Apples  Bananas
0      30       21

In [26]:
# creating with naming index also 
fruit_sales  = pd.DataFrame([[35,21],[41,34]], columns=["Apples","Bananas"],
                           index = ['2017 Sales','2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [28]:
#creating a variable 'ingredients' with a Series

quantities = ['4 cups','1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
ingredients = pd.Series(data=quantities, index=items, name='dinner')

ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: dinner, dtype: object

In [31]:
# code to save a dataframe to disk as a csv file
fruit_sales.to_csv("fruit_sales.csv")